.header-component{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  margin-left: 3rem;
  margin-right: 3rem;

  .first-part{
    display: flex;
    flex-flow: column;

    .title{
      display: flex;
      flex-flow: row;
      align-items: center;
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover{
        cursor: pointer;
      }
    }
  }
  .version{
    
  }

}
